<%= form_with :model => @post do |form| %>

    <p>
        <%= form.label "title", "Title"%>
        <%= form.text_field "title"%>
    </p>

     <p>
        <%= form.label "description", "Description"%>
        <%= form.text_field "description"%>
    </p>


    <p>
        <%= form.label "created_at", "Time of Visit"%>
        <%= form.text_field "created_at"%>
    </p>
    <%= form.submit %>
<% end %>

