<h1> Please enter the information of a new place you visited </h1>


<%= form_with :model => @place do |form| %>

    <p>
        <%= form.label "name", "City"%>
        <%= form.text_field "name"%>
    </p>

    

    <p>
        <%= form.label "created_at", "Time of First Visit"%>
        <%= form.text_field "datetime"%>
    </p>
    <%= form.submit %>
<% end %>


<p>
    <a href="/places">Back</a>
</p>
