<h1> <%= @place["name"]%> </h1>






<ul>
    <% for x in @posts%>
        <% if x["place_id"] == @place["id"]%>
            <li> 
                <h2> <%= x["title"] %> </h2>
                <p> <%= x["description"]%> </p>
                <p> <%= x["posted_at"]%> </p> 
            
            </li>
        <%end%>
    <% end %>
    <li> hello </li>
    <li> world </li>
</ul>

<p>
    <a href="/posts/new?pid=<%=@place["id"]%>">Create a new Post</a>
</p>

<p>
    <a href="/places">Back to all places</a>
</p>